$widthPage: 1000px;

// Font Face Mixin start

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// Font Face Mixin end
%fontText {
  font-family: "CenturyGothic", sans-serif;
  font-size: 14px;
  color: #000;
}

%fontContacts {
  font-family: "TypeWriter", sans-serif;
  font-size: 20px;
  color: #000;
}

%fontNavigation {
  font-family: "XeniaCondensedCyrillic", sans-serif;
  font-size: 22px;
  color: #fff;
}

%fontHeadersH3 {
  font-family: "CenturyGothic", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #5f554e;
}

%fontSidebarItems {
  font-family: "CenturyGothic", sans-serif;
  font-size: 14px;
  color: #5f554e;
}

%fontItemsName {
  font-family: "CenturyGothic", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #5f554e;
}